.home-content {
  flex: 1 0 auto;
  text-align: center;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Roboto";
  min-height: calc(100vh - 272px);

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 50px 0;
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 14px;
  }

  .home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 660px));
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
  }

  .open {
    margin-left: auto;
  }

  .img-container {
    flex-basis: 110px;
    flex-grow: 0;
    display: flex;

    img {
      margin: auto;
    }
  }

  .item-content {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 1;
    text-align: left;
  }

  .item {
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow:
      -4px -4px 10px rgba(231, 224, 234, 0.25),
      4px 4px 10px rgba(104, 97, 129, 0.15);
    border-radius: 4px;
    display: flex;
    row-gap: 20px;
    padding: 30px 25px 30px 46px;
    background-color: #fff;

    &:hover {
      box-shadow:
        -4px -4px 10px rgba(231, 224, 234, 0.25),
        0px 4px 10px rgba(0, 0, 0, 0.2);

      .open {
        color: #000000;
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }

  p {
    width: 100%;
    margin-bottom: 14px;
  }

  p ~ div {
    display: flex;
    width: 100%;
    margin-top: auto;

    img {
      margin-left: 10px;
    }
  }

  .item > img {
    margin: auto;
  }

  img ~ div {
    text-align: left;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .route {
    margin-right: 10px;
  }

  .iba {
    border: 1.5px solid #989ba4;
    border-radius: 7px;
    font-size: 18px;
    color: #595757;
    width: 270px;
    height: 55px;

    img {
      margin-right: 5px;
    }

    &:hover {
      color: #3d4048;
      border: 1.5px solid #3d4048;
    }
  }

  .no-accounts {
    margin-top: 30vh;

    .support {
      cursor: pointer;
    }
  }
}

.home-footer {
  display: flex;
  margin: 80px 40px 30px 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Roboto;

  p {
    color: #9d9d9d;
    width: fit-content;
    width: -moz-fit-content;
    margin-right: 20px;
  }

  .line {
    margin: 0 10px;
    height: 20px;
    width: 1px;
    border: 1px solid #979797;
  }
}

.custom-home-loader {
  z-index: 1;
  position: relative;
  display: block;
  margin: auto;
  padding: 24px;
}

.custom-home-loader::after {
  height: 32px;
  width: 32px;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0 0 0 1px transparent;
}

.custom-home-loader::before {
  height: 32px;
  width: 32px;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
